.gradle
local.properties
/.idea
/build
/secrets.tar
/fastlane/Fastfile
/fastlane/service-key.json
/data/build
/theme/build
/domain/build
/shared/build
/buildSrc/build
/presentation/build
/presentation/release
/features/mail/build
/features/mypage/build
/features/home/write/build
/features/home/board/build
/features/home/notification/build
/features/register/snslogin/build
/features/register/information/build
/presentation/google-services.json
/data/src/main/kotlin/team/applemango/runnerbe/data/secret/
