.gradle
local.properties
/.idea
build/
release/
/secrets.tar
/fastlane/Fastfile
/fastlane/service-key.json
/presentation/google-services.json
/data/src/main/kotlin/team/applemango/runnerbe/data/secret/
/buildSrc/src/main/kotlin/BuildConstants.kt