.gradle
local.properties
/.idea
/build
/buildSrc/.gradle
/buildSrc/build
/data/build
/domain/build
/features/alarm/build
/features/extrainformation/build
/features/mail/build
/features/mypage/build
/features/snslogin/build
/features/writing/build
/shared/build
/presentation/release
/presentation/build
/presentation/google-services.json
/fastlane
/secrets.tar
