<?xml version="1.0" encoding="utf-8"?><!--
  ~ RunnerBe © 2022 Team AppleMango. all rights reserved.
  ~ RunnerBe license is under the MIT.
  ~
  ~ [AndroidManifest.xml] created by Ji Sungbin on 22. 3. 20. 오후 11:04
  ~
  ~ Please see: https://github.com/applemango-runnerbe/RunnerBe-Android/blob/main/LICENSE.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.applemango.runnerbe">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RunnerBe"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RunnerBe.Splash">

        <activity
            android:name=".activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.RunnerBe" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.RunnerBe" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.RunnerBe" />

        <activity
            android:name="io.github.jisungbin.erratum.DefaultErratumExceptionActivity"
            android:theme="@style/Theme.RunnerBe" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="${KAKAO_AOUTH_HOST_SCHEME}" />
            </intent-filter>

        </activity>

        <activity-alias
            android:name="team.applemango.runnerbe.util.MainActivityAlias"
            android:targetActivity=".activity.MainActivity" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

    </application>

</manifest>