<?xml version="1.0" encoding="utf-8"?><!--
  ~ RunnerBe © 2022 Team AppleMango. all rights reserved.
  ~ RunnerBe license is under the MIT.
  ~
  ~ [AndroidManifest.xml] created by Ji Sungbin on 22. 3. 19. 오전 8:08
  ~
  ~ Please see: https://github.com/applemango-runnerbe/RunnerBe-Android/blob/main/LICENSE.
  -->

<manifest package="team.applemango.runnerbe.xml.rangepicker">

</manifest>